
header, main, footer {
    margin: 1rem;
    padding: relative;
}
h1 {
    color: #415D43;
    border-bottom: 1px solid #415D43;
    text-shadow: 0 0 15px #777;
    width: 60%;
    margin: 2rem;
}
h2 {
    margin: 0;
}
main {
    margin-left: 2rem;
}
#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}
section {
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: #A1CCA5;
    border: 1px solid #415D43;
    display: flex;
    flex-direction: column;
    align-items: center;
}