:root {
    --primary: #415d43;
    --secondary: #709775;
    --light: #A1CCA5;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    max-width: 1500px;
}

header {
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
header img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}
header span {
    font-weight: 700;
    font-size: 150%;
    text-align: center;
    color: white;
    background-color: var(--secondary);
}
header a {
    background-color: var(--primary);
    padding: 10px;
    width: 50%;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 10px;
}

nav {
    background-color: var(--primary);
}
nav ul {
    list-style-type: none;
}
nav a {
    padding: 1rem;
    text-decoration: none;
    display: block;
    text-align: center;
}
nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
nav.active {
    background-color: rgba(0, 0, 0, 0.3);
}
#myButton::before {
    content: "\2630";
}
#myButton.open::before {
    content: "x";
}
#myButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    width: 44px;
    text-align: left;
    padding: .25rem 2vw;
    position: absolute;
    top: 0;
    right: 2vw;
}
ul.menuLinks li a {
    border: none;
    display: block;
    padding: .75rem 2vw;
    color: white;
    text-decoration: none;
}
li.current-menu-item a {
    background-color: rgba(0, 0, 0, 0.3);
}
ul.menuLinks {
    display: none;
    list-style-type: none;
}
ul.menuLinks.open {
    display: block;
}

main {
    padding: 1rem 2vw;
    margin-bottom: 60px;
}

main h1 {
    border-bottom: 1px solid var(--primary);
    color: var(--primary);
}

main h2 {
    background-color: var(--secondary);
    color: white;
    display: block;
    text-align: center;
    padding: .75rem 0;
}

main p {
    padding: 10px;
    color: black;
}

main ul {
    padding: 10px;
}
main li {
    text-align: left;
}

footer {
    background-color: var(--primary);
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}
.main-content figure {
    padding-bottom: 1rem;
}
.card {
    width: 100%;
    box-shadow: 1px 1px 10px black;
    padding-bottom: 50px;
    margin-bottom: 20px;
    border: 1px solid var(--primary);
    background-color: lightgray;
    border-radius: 10px;
    overflow: hidden;
}
.card h2 {
    margin-bottom: 1rem;
}
.index-sidebar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}
.index-sidebar h2 {
    width: 100%;
    text-align: center;
}
.index-sidebar h3 {
    background-color: var(--secondary);
    color: white;
}
#current-weather, #forecast {
    background-color: var(--light);
    border: 1px solid var(--primary);
}

table {
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.wf1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
.wf1 fieldset {
    margin: 2rem;
    width: 100%;
    max-width: 800px;
    border: 1px solid var(--light);
    padding: .5rem 2%;
    text-align: left;
    background-color: var(--light);
}
.wf1 legend {
    background-color: var(--secondary);
    padding: .5rem .5rem;
}
.wf1 label {
    display: block;
    font-size: .9rem;
    text-align: left;
    padding: .5rem;
}
.wf1 input[type="text"],
.wf1 input[type="email"],
.wf1 input[type="telephone"],
.wf1 textarea {
    text-align: left;
    display: block;
    border: solid 1px var(--secondary);
    padding: .75rem;
    margin-top: .5rem;
    width: 100%;
    max-width: 800px;
    appearance: none;
}
.wf1 input[type="submit"] {
    display: block;
    border: none;
    background-image: linear-gradient(var(--primary), var(--secondary));
    color: white;
    width: 100%;
    max-width: 400px;
    padding: .8rem;
    margin-left: 2rem;
    box-shadow: 1px 1px 4px #999; 
}
.wf1 input[type="radio"] {
    margin-right: 6px;
}
#levels{
    caption-side: bottom;
    width: 100%;
}
#levels th {
    background-color: var(--secondary);
    padding: .75rem;
    border: solid 1px var(--primary);
    color: white;
}
#levels tbody td {
    background-color: var(--light);
}
#levels tfoot {
    background-color: var(--primary);
    color: white;
}
#levels tfoot th {
    background-color: var(--primary);
}
#directory {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
.member-card {
    border: 1px solid var(--primary);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: var(--light);
    width: 300px;
}
.member-card img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.member-card h3 {
    color: var(--primary);
}
.member-card p {
    margin: 0;
    overflow: hidden;
}
.member-card a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.member-list {
    list-style-type: none;
}
.member-list li {
    margin-bottom: 20px;
}
.banner {
    background-color: var(--primary);
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
}

#close-banner-btn {
    background-color: #ccc;
    border: none;
    color: #333;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}
#spotlight-container .member-card {
    padding: 10px;
}
.index-sidebar {
    display: block;
}
.index-sidebar #forecast {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#spotlight-container {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.index #events {
    background-color: var(--light);
    border: 1px solid var(--primary);
    padding-left: 2rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
