@media screen and (min-width: 500px) {

    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    #myButton {
        display: none;
    }
    ul.menuLinks, ul.menuLinks.open {
        display: flex;
        justify-content: flex-end;
    }
    ul.menuLinks a:hover {
        background-color: rgba(255, 255, 255, 0.2);
        
    }
    
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    header img {
        grid-column: 1/2;
        grid-row: 1/3;
    }
    header span {
        grid-column: 2/3;
        justify-self: center;
        grid-row: 1/2;
    }
    header a {
        grid-column: 2/3;
        grid-row: 2/3;
        justify-self: center;
    }
    main .index {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .discover {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
    }
    .sidebar {
        justify-content: center;
        padding-left: 2rem;
        padding-right: 2rem;
        border-right: 1px solid #415D43;
    }
    .main-content figure {
        position: relative;
        overflow: hidden;
        
    }
    .main-content img {
        display: block;
        margin: 0 auto;
        transition: filter 0.3s;
    }
    .main-content figcaption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        background-color: #8FB996;
        padding: 10px;
        margin: 0;
        opacity: 0;
        transition: opacity 0.3s;
    }
    .main-content figure:hover img {
        filter: blur(5px);
    }
    .main-content figure:hover figcaption {
        opacity: 1;
    }
    div.join {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;
    }
    .join form {
        grid-column: 1/2;
    }
    .join table {
        grid-column: 2/3;
        margin-top: 0;
    }
    .join {
        flex-direction: row;
    }
    .wf1, #levels {
        flex: 1;
    }
    #levels {
        margin-left: 20px;
    }
    .index {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 20px;

    }
    .index h2:first-of-type {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-bottom: 20px;
    }
    .index #spotlight-container {
        grid-column: 1/2;
        grid-row: 2/3;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin-bottom: 20px;
    }
    #spotlight-container .member-card {
        flex: 0 0 auto;
        width: calc(33.33% - 20px);
        margin: 0 10px;
    }
    .index-sidebar {
        grid-column: 2/3;
        grid-row: 1/6;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
    }
    #current-weather {
        grid-column: 1/4;
        grid-row: 2/3;
    }
    .index-sidebar h3 {
        grid-column: 1/4;
        grid-row: 3/4;
        padding: 10px;
        margin-top: 10px;
    }
    .index-sidebar #forecast {
        grid-column: 1/4;
        grid-row: 4/5;
    }
    .index h2:last-of-type {
        grid-row: 3/4;
    }
    .index #events {
        grid-row: 4/5;
    }

}