@media screen and (min-width: 500px) {

    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    #myButton {
        display: none;
    }
    ul.menuLinks, ul.menuLinks.open {
        display: flex;
        justify-content: flex-end;
    }
    ul.menuLinks a:hover {
        background-color: rgba(255, 255, 255, 0.2);
        
    }
    
    header {
        grid-template-columns: 2fr 1fr;
    }
    header img {
        grid-column: 1/2;
    }
    header span {
        grid-column: 2/3;
        padding-right: 4rem;
    }
    main {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    #hero {
        grid-column: 1/2;
        grid-row: 1/4;
    }

    .discover {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 20px;
    }
    .sidebar {
        justify-content: center;
        padding-left: 2rem;
    }
    .main-content figure {
        position: relative;
        overflow: hidden;
        
    }
    .main-content img {
        display: block;
        margin: 0 auto;
        transition: filter 0.3s;
    }
    .main-content figcaption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        background-color: #8FB996;
        padding: 10px;
        margin: 0;
        opacity: 0;
        transition: opacity 0.3s;
    }
    .main-content figure:hover img {
        filter: blur(5px);
    }
    .main-content figure:hover figcaption {
        opacity: 1;
    }
    
}