@media screen and (min-width: 500px) {
    #cards {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
    }

    .card {
        width: 100%;
        box-shadow: 1px 1px 10px black;
    }

    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    #myButton {
        display: none;
    }
    ul.menuLinks, ul.menuLinks.open {
        display: flex;
        justify-content: flex-end;
    }
    ul.menuLinks a:hover {
        background-color: rgba(255, 255, 255, 0.2);
        
    }
    #darkButton {
        top: 1rem;
    }
    
    header {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #profile {
        box-shadow: 1px 1px 10px black;
        grid-column: 2/3;
    }
    header span {
        grid-column: 3/4;
    }
    
}